<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section id="meter-form">
      <div class="card col-md-6">
        <div class="card-body">
          <form class="form" [formGroup]="meterForm" (ngSubmit)="onSubmit(meterForm)">
            <div class="row">
              <div class="form-group col-12">
                <label for="customer">Customer</label>
                <input
                  type="text"
                  formControlName="customerId"
                  name="customerId"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.customerId.errors }"
                />
                <div *ngIf="submitted && f.customerId.errors" class="invalid-feedback">
                  <div *ngIf="f.customerId.errors.required">Customer is required</div>
                </div>
              </div>

              <div class="form-group col-12">
                <label for="middleName">Meter Number</label>
                <input
                  type="text"
                  formControlName="meterNumber"
                  class="form-control"
                  name="meterNumber"
                  [ngClass]="{ 'is-invalid': submitted && f.meterNumber.errors }"
                />
              </div>

              <div class="form-group col-12">
                <label for="installationDate">Installation Date</label>
                <input
                  type="text"
                  formControlName="installationDate"
                  class="form-control"
                  name="installationDate"
                  [ngClass]="{ 'is-invalid': submitted && f.installationDate.errors }"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <button type="submit" rippleEffect class="btn btn-primary mr-1">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>